* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #000000;
}
@media screen and (max-width: 550px) {
  .header .container-fluid {
    display: block;
    padding: 0;
  }
}
.header .container-fluid .register .sale {
  color: #ffffff;
  display: flex;
  align-items: center;
}
.header .container-fluid .register .sale .shopping {
  display: flex;
  align-items: center;
}
.header .container-fluid .register .sale .shopping img {
  width: 31px;
  height: 31px;
}
@media screen and (max-width: 550px) {
  .header .container-fluid .register .sale .shopping img {
    width: 28px;
    height: 28px;
  }
}
.header .container-fluid .register .sale .shopping .number {
  margin: 0;
  font-size: 30px;
  height: fit-content;
  margin-right: 15px;
}
@media screen and (max-width: 550px) {
  .header .container-fluid .register .sale .shopping .number {
    font-size: 28px;
  }
}
.header .container-fluid .register .sale .login {
  margin: 0;
  font-weight: 300;
  margin-right: 15px;
}
@media screen and (max-width: 550px) {
  .header .container-fluid .register .sale .login {
    font-size: 14px;
  }
}
.header .container-fluid .register .sale .register-btn {
  margin: 0;
  font-weight: 300;
  margin-right: 15px;
}
@media screen and (max-width: 550px) {
  .header .container-fluid .register .sale .register-btn {
    font-size: 14px;
  }
}

.footer {
  margin-top: 100px;
}
.footer .container-fluid {
  background-color: #f5f5f5;
}
.footer .container-fluid .row {
  padding: 35px 0;
}
.footer .container-fluid .r1 .col-12 .content .title {
  font-size: 25px;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .footer .container-fluid .r1 .col-12 .content .title {
    padding-top: 20px;
    font-size: 22px;
  }
}
.footer .container-fluid .r1 .col-12 .content .list {
  margin: 0;
  padding: 0;
  border-right: 1px solid #cacaca;
}
.footer .container-fluid .r1 .col-12 .content .list.special {
  border: none;
}
.footer .container-fluid .r1 .col-12 .content .list li {
  list-style: none;
}
@media screen and (max-width: 992px) {
  .footer .container-fluid .r1 .col-12 .content .list li {
    font-size: 14px;
  }
}
.footer .container-fluid .r1 .col-12 .content .list li a {
  text-decoration: none;
  color: #da8b87;
  font-weight: 500;
}
.footer .container-fluid .r2 {
  background-color: #ececec;
}
.footer .container-fluid .r2 .col-12 .content .title {
  font-size: 25px;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .footer .container-fluid .r2 .col-12 .content .title {
    padding-top: 20px;
    font-size: 22px;
  }
}
.footer .container-fluid .r2 .col-12 .content .list {
  margin: 0;
  padding: 0;
  border-right: 1px solid #cacaca;
}
.footer .container-fluid .r2 .col-12 .content .list li {
  list-style: none;
}
@media screen and (max-width: 992px) {
  .footer .container-fluid .r2 .col-12 .content .list li {
    font-size: 14px;
  }
}
.footer .container-fluid .r2 .col-12 .content .list li a {
  text-decoration: none;
  color: #da8b87;
  font-weight: 500;
}
.footer .container-fluid .r2 .arrow-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .container-fluid .r2 .arrow-top a {
  text-decoration: none;
}
.footer .container-fluid .r2 .arrow-top a i {
  font-size: 30px;
  color: #cacaca;
}
@media screen and (max-width: 992px) {
  .footer .container-fluid .r2 .arrow-top a i {
    font-size: 26px;
    padding: 20px 0;
  }
}

.navigation .container-fluid {
  padding: 0 2%;
}
.navigation .container-fluid .menu a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  padding-right: 24px;
  position: relative;
}
.navigation .container-fluid .menu a:hover::after {
  width: 68%;
}
.navigation .container-fluid .menu a::after {
  content: "";
  background-color: #000000;
  width: 0;
  height: 1px;
  position: absolute;
  z-index: 1;
  bottom: -5px;
  left: 0;
  cursor: pointer;
  transition: width 0.5s;
}

.detail-product .container {
  padding-top: 58px;
  margin-bottom: 39px;
}
.detail-product .container .row .col1 .content {
  margin-right: 128px;
}
.detail-product .container .row .col1 .content img {
  padding: 109px 57px 90px 57px;
  background-color: #f8f8f8;
}
.detail-product .container .row .col2 .content .title {
  font-size: 30px;
  font-weight: 300;
  color: #000000;
}
.detail-product .container .row .col2 .content .descript {
  font-size: 16px;
  font-weight: 400;
  color: #140101;
}
.detail-product .container .row .col2 .content .state {
  font-size: 24px;
  font-weight: 500;
  color: #1ed90e;
}
.detail-product .container .row .col2 .content .sizes {
  display: flex;
  padding: 0;
  margin-bottom: 17px;
  margin-top: 20px;
}
.detail-product .container .row .col2 .content .sizes .btn-size {
  font-size: 24px;
  font-weight: 600;
  color: #1e1d1d;
  list-style: none;
  padding: 10px;
  background-color: #cccccc;
  margin-right: 20px;
}
.detail-product .container .row .col2 .content .price p {
  font-size: 30px;
  font-weight: 600;
  color: #fc0303;
}
.detail-product .container .row .col2 .content .count {
  display: flex;
}
.detail-product .container .row .col2 .content .count .btn-plus {
  font-size: 30px;
  font-weight: 400;
  color: #fffcfc;
  padding: 6px 17px 12px 15px;
  background: linear-gradient(180deg, #6181f3 0%, #7c97f5 99.48%);
}
.detail-product .container .row .col2 .content .count .btn-plus span {
  display: inline-block;
  height: 32px;
  width: 18px;
}
.detail-product .container .row .col2 .content .count .number {
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  padding: 0 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-product .container .row .col2 .content .count .btn-minus {
  font-size: 30px;
  font-weight: 400;
  color: #fffcfc;
  padding: 6px 17px 12px 15px;
  background: linear-gradient(180deg, #6181f3 0%, #7c97f5 99.48%);
}
.detail-product .container .row .col2 .content .count .btn-minus span {
  display: inline-block;
  height: 32px;
  width: 18px;
}
.detail-product .container .row .col2 .content .button {
  height: 64px;
  width: 175px;
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #d017ee 89.71%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
}
.detail-product .container .row .col2 .content .button .add {
  font-size: 24px;
  font-weight: 500;
  color: #fff8f8;
}

.relate-product .container-fluid {
  max-width: 1200px;
}
.relate-product .container-fluid .title {
  padding-top: 16px;
  text-align: center;
}
.relate-product .container-fluid .title h1 {
  font-size: 40px;
  font-weight: 400;
  color: #000000;
  padding-bottom: 42px;
}
.relate-product .container-fluid .products .row .col-12 {
  margin-top: 47px;
  padding: 0 30px;
}
.relate-product .container-fluid .products .row .col-12 .product-item {
  background-color: #f8f8f8;
}
.relate-product .container-fluid .products .row .col-12 .product-item .image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.relate-product .container-fluid .products .row .col-12 .product-item .image img {
  padding: 45px 57px 30px 57px;
}
.relate-product .container-fluid .products .row .col-12 .product-item .detail {
  padding-left: 23px;
}
.relate-product .container-fluid .products .row .col-12 .product-item .detail .name {
  font-size: 24px;
  font-weight: 300;
  color: #000000;
}
.relate-product .container-fluid .products .row .col-12 .product-item .detail .descript {
  padding-top: 8px;
  font-size: 20px;
  font-weight: 300;
  color: #cbc9c9;
}
.relate-product .container-fluid .products .row .col-12 .product-item .prices {
  margin-top: 13px;
  display: flex;
}
.relate-product .container-fluid .products .row .col-12 .product-item .prices .buy {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1b067;
  padding: 18px 0;
  font-size: 24px;
  font-weight: 200;
  color: #000000;
}
.relate-product .container-fluid .products .row .col-12 .product-item .prices .cost {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DEDDDC;
  padding: 18px 0;
  font-size: 24px;
  font-weight: 600;
  color: #000000;
}