* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #000000;
}
@media screen and (max-width: 550px) {
  .header .container-fluid {
    display: block;
    padding: 0;
  }
}
.header .container-fluid .register .sale {
  color: #ffffff;
  display: flex;
  align-items: center;
}
.header .container-fluid .register .sale .shopping {
  display: flex;
  align-items: center;
}
.header .container-fluid .register .sale .shopping img {
  width: 31px;
  height: 31px;
}
@media screen and (max-width: 550px) {
  .header .container-fluid .register .sale .shopping img {
    width: 28px;
    height: 28px;
  }
}
.header .container-fluid .register .sale .shopping .number {
  margin: 0;
  font-size: 30px;
  height: fit-content;
  margin-right: 15px;
}
@media screen and (max-width: 550px) {
  .header .container-fluid .register .sale .shopping .number {
    font-size: 28px;
  }
}
.header .container-fluid .register .sale .login {
  margin: 0;
  font-weight: 300;
  margin-right: 15px;
}
@media screen and (max-width: 550px) {
  .header .container-fluid .register .sale .login {
    font-size: 14px;
  }
}
.header .container-fluid .register .sale .register-btn {
  margin: 0;
  font-weight: 300;
  margin-right: 15px;
}
@media screen and (max-width: 550px) {
  .header .container-fluid .register .sale .register-btn {
    font-size: 14px;
  }
}

.footer {
  margin-top: 100px;
}
.footer .container-fluid {
  background-color: #f5f5f5;
}
.footer .container-fluid .row {
  padding: 35px 0;
}
.footer .container-fluid .r1 .col-12 .content .title {
  font-size: 25px;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .footer .container-fluid .r1 .col-12 .content .title {
    padding-top: 20px;
    font-size: 22px;
  }
}
.footer .container-fluid .r1 .col-12 .content .list {
  margin: 0;
  padding: 0;
  border-right: 1px solid #cacaca;
}
.footer .container-fluid .r1 .col-12 .content .list.special {
  border: none;
}
.footer .container-fluid .r1 .col-12 .content .list li {
  list-style: none;
}
@media screen and (max-width: 992px) {
  .footer .container-fluid .r1 .col-12 .content .list li {
    font-size: 14px;
  }
}
.footer .container-fluid .r1 .col-12 .content .list li a {
  text-decoration: none;
  color: #da8b87;
  font-weight: 500;
}
.footer .container-fluid .r2 {
  background-color: #ececec;
}
.footer .container-fluid .r2 .col-12 .content .title {
  font-size: 25px;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .footer .container-fluid .r2 .col-12 .content .title {
    padding-top: 20px;
    font-size: 22px;
  }
}
.footer .container-fluid .r2 .col-12 .content .list {
  margin: 0;
  padding: 0;
  border-right: 1px solid #cacaca;
}
.footer .container-fluid .r2 .col-12 .content .list li {
  list-style: none;
}
@media screen and (max-width: 992px) {
  .footer .container-fluid .r2 .col-12 .content .list li {
    font-size: 14px;
  }
}
.footer .container-fluid .r2 .col-12 .content .list li a {
  text-decoration: none;
  color: #da8b87;
  font-weight: 500;
}
.footer .container-fluid .r2 .arrow-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .container-fluid .r2 .arrow-top a {
  text-decoration: none;
}
.footer .container-fluid .r2 .arrow-top a i {
  font-size: 30px;
  color: #cacaca;
}
@media screen and (max-width: 992px) {
  .footer .container-fluid .r2 .arrow-top a i {
    font-size: 26px;
    padding: 20px 0;
  }
}